@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
   --primary-1: #1575A7;
   --secondary-1: #F78719;
   --light-1: #737B86;
}